{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Hoteles</h2>

    <!-- form -->
    <div class="row">
        {% set hotels = [
            {'id': 1, 'image': '1.jpg', 'title': 'Hotel Maravilla', 'description': 'Un lugar de ensueño para tus vacaciones.'},
            {'id': 2, 'image': '2.jpg', 'title': 'Hotel Paraíso', 'description': 'Disfruta de la mejor experiencia de hospedaje.'},
            {'id': 3, 'image': '3.jpg', 'title': 'Hotel Sol', 'description': 'Relájate en un ambiente acogedor y familiar.'},
            {'id': 4, 'image': '4.jpg', 'title': 'Hotel Luna', 'description': 'Un refugio perfecto para escapadas románticas.'}
        ] %}

        {% for hotel in hotels %}
        <div class="col-sm-6 wowload fadeInUp">
            <div class="hotel">
                <img src="{{ url_for('static', filename='images/photos/' ~ hotel.image) }}" class="img-responsive">
                <div class="info">
                    <h3>{{ hotel.title }}</h3>
                    <p>{{ hotel.description }}</p>
                    <a href="{{ url_for('habitaciones') }}" class="btn btn-default">Ver Habitaciones</a> <!-- Redirige a las habitaciones -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
