{% extends 'base.html' %}
{%block main%}
<div id="hoteles-principales">
<h2>Hoteles Principales</h2>
    <div class="contenedor1">
    <div class="slider-contenedor">
        <section id="hotel-1" class="contenido-slider">
            <div>
                <h3>Four Seasons Hotel Buenos Aires</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                    sed. Quos cupiditate id delectus est.</p>
                <a href="#">Contact us</a>
            </div>
            <img src="" alt="">

        </section>
        <section id="hotel-2"  class="contenido-slider">
            <div>
                <h3>Hotel Faena</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                    sed. Quos cupiditate id delectus est.</p>
                <a href="#">Contact us</a>
            </div>
            <img src="" alt="">
        </section>
        <section id="hotel-3"  class="contenido-slider">
            <div>
              <h3>Alvear Palace Hotel</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                    sed. Quos cupiditate id delectus est.</p>
                <a href="#">Contact us</a>
            </div>
            <img src="" alt="">

        </section>
        <section id="hotel-4"  class="contenido-slider">
            <div>
              <h3>Buenos Aires Marriott</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                    sed. Quos cupiditate id delectus est.</p>
                <a href="#">Contact us</a>
            </div>
            <img src="" alt="">

        </section>
    </div>
  </div>
</div>
{% endblock %}