<footer class="spacer">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h4>Integrando hoteles</h4>
                <p>Disfruta tus vacaciones con nosotros</p>
            </div>              
            <div class="col-sm-3">
                <h4>Links principales</h4>
                <ul class="list-unstyled">
                    <li><a href="{{ url_for('hoteles') }}">Hoteles</a></li>        
                    <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
                    <li><a href="{{ url_for('contacto') }}">Sobre nosotros</a></li>
                </ul>
            </div>
            <div class="col-sm-4 subscribe">
                <div class="social">
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter-square"></i></a>
                    <a href="#"><i class="fa fa-pinterest-square"></i></a>
                    <a href="#"><i class="fa fa-tumblr-square"></i></a>
                    <a href="#"><i class="fa fa-youtube-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="text-center copyright">Powered by <a href="http://thebootstrapthemes.com">thebootstrapthemes.com</a></div>
<a href="#home" class="toTop scroll"><i class="fa fa-angle-up"></i></a>




