{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="title">Gallery</h1>
    <div class="row gallery">
        {% set images = [
            {'filename': '1.jpg', 'title': 'Foods'},
            {'filename': '2.jpg', 'title': 'Coffee'},
            {'filename': '3.jpg', 'title': 'Travel'},
            {'filename': '4.jpg', 'title': 'Adventure'},
            {'filename': '5.jpg', 'title': 'Fruits'},
            {'filename': '6.jpg', 'title': 'Summer'},
            {'filename': '7.jpg', 'title': 'Bathroom'},
            {'filename': '8.jpg', 'title': 'Rooms'},
            {'filename': '9.jpg', 'title': 'Big Room'},
            {'filename': '11.jpg', 'title': 'Living Room'}
        ] %}
        
        {% for image in images %}
        <div class="col-sm-4 wowload fadeInUp">
            <a href="{{ url_for('static', filename='images/photos/' ~ image.filename) }}" title="{{ image.title }}" class="gallery-image" data-gallery>
                <img src="{{ url_for('static', filename='images/photos/' ~ image.filename) }}" class="img-responsive">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}