{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
<div class="container">
    <h2 style="text-align: center; padding-top: 20px;">{{ hotel.nombre }}</h2>

    <div class="row" style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <div class="col-sm-6 wowload fadeInUp">
            <div class="hotel">
                <div class="info" style="display: flex; justify-content: space-between; gap: 20px; height: 100%; padding: 20px;">
                    <div>
                        <img src="{{ url_for('static', filename='images/' ~ hotel.id|string ~  '.jpg') }}" class="img-responsive">
                        <p>Provincia: {{ hotel.provincia }}</p>
                        <p>Ciudad: {{ hotel.ciudad }}</p>
                        <a href="{{ url_for('habitaciones', hotel_id=hotel.id) }}" class="btn btn-default" style="margin-top: 10px;">Ver Habitaciones</a>
                        {% if user and hotel.propietario_id == user[0]['id'] %}
                            <a href="{{ url_for('editar_hotel', hotel_id=hotel.id) }}" class="btn btn-default" style="margin-top: 10px;">Editar Hotel</a>
                        {% endif %}
                    </div>
                    <div id="mapa" class="mapas" name="{{ hotel.id }}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
{% endblock %}
