{% extends 'base.html' %}
{%block main%}
<body class="cuerpo-de-inicio-sesión ">
<div id="sesión-propietario">
<form id="login_propietario" action=   "method"="post">
    <h2 class="titulo">Inicia Sesión </h2>
    <div class="form_input">
        <label for="nombre-de-propietario">Nombre de Propietario</label>
        <input type="text" placeholder="Nombre y Apellido" id="nombre-propietario" name="usuario-propietario" required>
    </div>
    <div class="form_input">
        <label for="nombre-de-hotel">Hotel</label>
        <input type="text" placeholder="Nombre Hotel" id="nombre-hotel" name="empresa" required>
    </div>
    <div class="form_input">
        <button type="submit" id="sesión_propietario">Enviar</button>
    </div>
</form>
</div>
</body>




{% endblock %}