{% extends 'base.html' %}

{%block main%}
<div id="formulario_propietario">
<form  action="{{url_for('iniciar_sesion')}}" method="post" id="iniciar_sesion">
    <ul>
        <li>
            <label for="email">Ingrese su mail:</label>
            <br>
            <input type="text" id="email" name="email" placeholder="juancito@gmail.com">
        </li>
        <li>
            <label for="contraseña">Ingrese su contraseña</label>
            <input type="text" id="contraseña" name="contraseña">
        </li>
    </ul>
    <button type="submit">Enviar</button>
</form>
</div>
{% endblock %}