{% extends 'base.html' %}

{% block main %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario de Alquiler</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Selecciona los días que quieres alquilar</h1>
    <div id="calendar"></div>
    <button type="submit" id="reserveButton">Reservar</button>
    <script>
        const unavailableDays = {{ unavailable_days | tojson }};
    </script>
    <script src="/static/js/s.js"></script>
</body>
</html>


{% endblock %}